// This will define the main style of the details page (results.html)
@use "core"as *;
@use "navbar";
@use "main";
@use "footer";

#main {
  p {
    text-align: justify;
  }

  .location {
    width: 100%;
    height: 50vmax;
    border: none;
  }

  .card {
    &-location {
      padding-left: 0.5rem;
    }
  }
}
