// This will define the main style of the landing page (index.html)
@import "theme";

html,
body {
  @include liberation(normal, 1rem, 1.15rem);

  height: 100%;
  background: $tint-accent;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.navb,
.navbar {
  background-color: $main-color;

  &-brand {
    @include cinzel(bold, 2rem, 2rem);

    i {
      // Fix the icon being with a different line height
      line-height: 2rem;
    }
  }

  &-controls {
    // This can be done using bootstrap, but the requirement is to use raw
    // flexbox at least once.
    display: flex;
    justify-content: space-around;
  }

  &-control {
    // I am going to style this here because all buttons share the same style
    // and repeating this in the classes, in the HTMl is kind of wasteful.
    background: none;
    color: white;
    line-height: 1rem;
    font-size: 1.25rem;
    width: 1.3125rem;
    height: 1.3125rem;

    i {
      // Fix the icon being with a different line height
      line-height: 1rem;
    }
  }
}

#landing {
  // I am not sure how to make this div 100% height, considering the navbar
  height: calc(100% - 6rem);

  &-bg {

    // This is the background image and it's black tint (for better contrast)
    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-content {
    // Since I cannot float this over the background, for some reason, I am
    // going to make it absolute and then make it fill the whole container.
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    form,
    .submit {
      color: $medium-accent;
      background-color: $soft-accent;
      opacity: 0.925;

      > * {
        text-transform: uppercase;
      }
    }

    // I am not going to use the Bootstrap `btn` or form for the landing
    // section, this is intentional, I want to style it myself.
    &-query,
    .submit {
      height: 2rem;
    }

    &-query {
      color: $accent;
      background-color: white;
    }

    .submit {
      color: white;
      background-color: $accent;
      padding: 0;
    }
  }
}

main {
  h1 {
    @include liberation(bold, 1.3rem, 1.3rem);

    text-transform: uppercase;
    color: $strong-accent;
  }

  .card {
    background-color: $tint-main;
  }

  // The linter is asking to put that many empty lines...
  h2 {
    @extend h1;

    @include liberation(bold, 1.15rem, 1.15rem);

    color: $medium-accent;
  }

  h3 {
    @extend h1;

    @include liberation(bold, 1rem, 1rem);

    color: $accent;
  }

  // This is kind of a band, which will be used to show some remarkable aspects
  // This is not available on Bootstrap, so I will make it myself. Also, I will
  // not use Bootstrap flex for this, I'll do it manually.
  //
  // FunFact: The Watson debugger name means "What's On?" :D
  .whatson,
  #whatson {
    margin: {
      right: -1.5rem;
      left: -1.5rem;
    }

    &-style1 {
      background-color: $vivid-red;
    }

    &-style2 {
      background-color: $vivid-mint;
    }

    &-style3 {
      background-color: $vivid-blue;
    }

    &-body {
      display: flex;
      align-content: center;
      justify-content: space-around;
      flex-direction: column;
    }

    &-media {
      width: 50vmin;
      height: 50vmin;
      max-width: 15rem;
      max-height: 15rem;
      border-radius: 50%;
    }
  }
}

footer,
.footer {
  border-top: 1px solid $strong-accent;
  color: $medium-accent;

  &-brand {
    @extend .navbar-brand;

    color: $main-color;
    text-decoration: none;

    &:active,
    &:hover {
      @extend .footer-brand;
    }
  }

  &-media {
    @include liberation(bold, 1.5rem, 1.5rem);

    display: flex;
    justify-content: space-between;
    max-width: 12rem;
  }

  &-copyright {
    @include liberation(normal, 0.8125rem, 1.25rem);
  }
}
